
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #72fff1, #80f6b3);
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.top-row {
    display: flex;
    gap: 30px;
}

section {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(54, 194, 190, 0.15);
    flex: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 18px rgba(108, 46, 240, 0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #444;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    background-color: #ef6b19;
    color: white;
    font-size: 15px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #813ad3;
    transform: scale(1.05);
}

#clearEventsBtn, #addsampleBtn {
    background-color: #007BFF;
    margin: 8px;
}

#clearEventsBtn:hover, #addsampleBtn:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 15px;
    color: #666;
    font-style: italic;
}

.event-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    margin-top: 12px;
    transition: 0.3s;
}

.event-card:hover {
    background: #eef6ff;
    border-color: #007BFF;
}